In [44]:
import pandas as pd

In [45]:
#Dataset dont have header labels
custom_header = [
    'buying',
    'maint',
    'doors',
    "persons",
    "lug_boot",
    "safety",
    "quality"
]
data = pd.read_csv('dataset/car.data',sep=',',header=None)
data.columns = custom_header
data.tail()

     buying maint  doors persons lug_boot safety quality
1723    low   low  5more    more      med    med    good
1724    low   low  5more    more      med   high   vgood
1725    low   low  5more    more      big    low   unacc
1726    low   low  5more    more      big    med    good
1727    low   low  5more    more      big   high   vgood

In [46]:
# We use labels encoder to Encode CAtegoric => Numerical

In [47]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# Encoding all Coulums
data['buying']= le.fit_transform(data['buying']) 

"""
data['maint']= le.fit_transform(data['maint']) 
data['lug_boot']= le.fit_transform(data['lug_boot']) 
data['safety']= le.fit_transform(data['safety']) 
data['quality']= le.fit_transform(data['quality']) 
"""
data.head()

   buying  maint doors persons lug_boot safety quality
0       3  vhigh     2       2    small    low   unacc
1       3  vhigh     2       2    small    med   unacc
2       3  vhigh     2       2    small   high   unacc
3       3  vhigh     2       2      med    low   unacc
4       3  vhigh     2       2      med    med   unacc

In [48]:
data.buying.unique()

array([3, 0, 2, 1], dtype=int64)

In [49]:
le = LabelEncoder()
data['maint']= le.fit_transform(data['maint']) 
data['lug_boot']= le.fit_transform(data['lug_boot']) 
data['safety']= le.fit_transform(data['safety']) 
data['quality']= le.fit_transform(data['quality'])
# data['persons']= le.fit_transform(data['persons']) 
# data['doors']= le.fit_transform(data['doors']) 
# data['persons'] = pd.to_numeric(data['persons'])
# data['doors'] = data.doors.astype('Int64')
data.persons = data.persons.replace('more','6')

data.doors = data.doors.replace('5more','5')

print(data.doors.unique())

['2' '3' '4' '5']

In [50]:
data.head()

   buying  maint doors persons  lug_boot  safety  quality
0       3      3     2       2         2       1        2
1       3      3     2       2         2       2        2
2       3      3     2       2         2       0        2
3       3      3     2       2         1       1        2
4       3      3     2       2         1       2        2

In [51]:
data.to_csv('dataset/numericCars.csv')